extends layout

block content
  ul.pages
    li.login
      .form
        h3.title What's your nickname?
        input.username-input(type="text" maxlength="14" autofocus)
    li.chat.hide
      .chat-area
        ul.messages
        form.message-form(action="")
          input.message-input(type="text" autocomplete="off")
          button.send-button Send
        
    
  
