include ./_mixin

doctype html
html
  head
    title Wonder Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/node_modules/socket.io-client/dist/socket.io.js')
    +javascript_script_tag('bundle')
