* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.chat,
.login {
  height: 100%;
  position: absolute;
  width: 100%;
}

.hide {
  display: none;
}

/* Login */

.login {
  background-color: #000;
}

.form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.username-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
}

.title {
  font-size: 200%;
}

.title,
.username-input {
  color: #fff;
  font-weight: 100;
}

/* Chat Form */

.message-form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.message-input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
  font-size: 20px;
}

.message-input:focus {
  outline: none;
}

.send-button {
  width: 9%;
  background-color: #558DFF;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.send-button:disabled {
  background-color: #ADC4F1;
}

.messages {
  list-style-type: none;
   margin: 0;
   padding: 0;
 }

.messages li {
  padding: 5px 10px;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chat-area {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
  color: #1569ef;
}

.username.same {
  color: #ef1414;
}
